/*
Main stylesheet
style.css v1.0
*/

/*
General styles
--------------------------------------------------------
*/

/* box sizing */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* body */
body {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 1.2;
	color: #303438;
	background-color: #ffffff;
}

/* links */
a {
	color: #131416;
	text-decoration: none;
	outline: none !important;

	-webkit-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;
}
a:hover,
a:focus {
	color: #131416;
	text-decoration: none;
}

/* h1 - h6 */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 20px;
	font-family: 'Lora', serif;
	font-style: normal;
	font-weight: 600;
	color: #131416;
}
h1,
.mw-h1 {
	font-size: 40px;
	line-height: 1.2;
}
h2,
.mw-h2 {
	font-size: 35px;
	line-height: 1.2;
}
h3,
.mw-h3 {
	font-size: 30px;
	line-height: 1.25;
}
h4,
.mw-h4 {
	font-size: 25px;
	line-height: 1.35;
}
h5,
.mw-h5 {
	font-size: 20px;
	line-height: 1.4;
}
h6,
.mw-h6 {
	font-size: 15px;
	text-transform: uppercase;
	line-height: 1.6;
}

/* paragraph */
p {
	margin: 0 0 20px;
}

/* img */
img {
	border: 0;
	vertical-align: middle;
	outline: none !important;
	max-width: 100%;
	height: auto;
}

/* clearfix */
.mw-clearfix::after {
	content: '';
	display: table;
	clear: both;
}

/* list unstyled (ul, ol) */
.mw-list-unstyled {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* central container with content */
.mw-container {
	margin-right: auto;
	margin-left: auto;
	padding-right: 20px;
	padding-left: 20px;
	width: 100%;
	max-width: 1040px;
}

/* vertical alignment: middle */
.mw-full-height-container {
	width: 100%;
	height: 95vh;
}
.mw-full-height-table {
	display: table;
	width: 100%;
	height: 100%;
}
.mw-middle-alignment {
	display: table-cell;
	vertical-align: middle;
}
.mw-centered-content {
	overflow-wrap: break-word;
}


/*
Introductory text
--------------------------------------------------------
*/

.mw-intro-container {
	margin: 60px 0 0;
	text-align: center;
}

/* main title (h1) */
.mw-intro-main-title {
	margin: 0;
	font-size: 70px;
	font-style: normal;
	font-weight: 600;
	text-transform: capitalize;
	line-height: normal;
	color: #131416;
}
.mw-intro-main-title.mw-text-bg-mask {
	background-image: url(../img/intro-text-bg/mw-intro-text-bg-1.jpg);
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

/* secondary title (h2) */
.mw-intro-secondary-title {
	margin: 15px auto 0;
	max-width: 860px;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	letter-spacing: 0.2px;
	line-height: 30px;
	overflow-wrap: break-word;
	color: #303438;
}


/*
Footer
--------------------------------------------------------
*/

.mw-footer-text {
	max-width: 860px;
	margin: 27px auto 70px;
	text-align: center;
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 0.2px;
	line-height: 25px;
	overflow-wrap: break-word;
	color: #808992;
}


/*
Responsive styles
--------------------------------------------------------
*/

/* 899px */
@media (max-width: 899px) {

	/* introductory text */
	.mw-intro-main-title {
		font-size: 60px;
	}
	.mw-intro-secondary-title {
		margin-top: 18px;
	}

}

/* 749px */
@media (max-width: 749px) {

	/* introductory text */
	.mw-intro-container {
		text-align: left;
	}
	.mw-intro-main-title {
		font-size: 50px;
	}
	.mw-intro-secondary-title {
		max-width: 600px;
		margin-top: 20px;
		margin-right: 0;
		margin-left: 0;
	}

	/* footer */
	.mw-footer-text {
		max-width: 600px;
		margin-right: 0;
		margin-left: 0;
		text-align: left;
	}

}

/* 399px */
@media (max-width: 399px) {

	/* introductory text */
	.mw-intro-main-title {
		font-size: 45px;
	}
	.mw-intro-secondary-title {
		margin-top: 24px;
		font-size: 16px;
		line-height: 27px;
	}

}

/* 349px */
@media (max-width: 349px) {

	/* central container with content */
	.mw-container {
		padding-right: 15px;
		padding-left: 15px;
	}

}

/* 299px */
@media (max-width: 299px) {

	/* introductory text */
	.mw-intro-main-title {
		font-size: 40px;
	}
	.mw-intro-secondary-title {
		margin-top: 25px;
	}

}
